.twitter_block {
  float: right;
  margin-right: 10px;
  margin-top: 50px;
}

._twitter_block_de39e {
    margin-right: 30px !important;
}

.twitter_timeline {
  border-style: solid;
  border-color:#D3D3D3;
  border-width: thin;
  border-radius: 10px;
}
