.main {
  margin: 50px;
}

//for bills - row 2
.infoBlock {
  width: 500px;
  height: 90px;
  background-color: #e9e9e9;
  padding: 20px;
  overflow: hidden;
  margin-bottom: 10px;
  border-radius: 7px;
}

.infoBlock:hover {
  background-color:#d0d0d0;
  text-decoration: none;
}

.infoBlock img { //bills icon
    margin-right: 15px;
    float: left;
    border-radius: 0%
}

.infoBlock h5 { //Bill Name
  font-size: 20px;
}

.infoBlock h5,
.infoBlock p{ //Name and subheader
    margin-left: 15px;
    display: block;
    margin: 2px 0 0 0;
}

.blockTitle {
  font-family: 'Avenir';
  font-size: 18px;
  margin-bottom: 20px;
}

.title {
  font-family: 'Avenir';
  font-size: 40px;
  font-weight: bold;
}

div .link {
  text-decoration: none;
}

h3{
  font-family: 'Avenir';
  font-size: 35px;
}

h5 {
  font-family: 'Avenir';
}

.politicianImage img{
  border-radius: 50%;
}
