.main {
  margin: 30px 100px 100px 100px;
}

.background {
  background-color: white;
  padding: 50px;
}

.imageAndInfo {
  flex-direction: row;
  margin-bottom: 50px;
}

.info {
  padding-top: 1px;
  padding-left: 200px;
}

.politicianImage img {
  border-radius: 50%;
}

.infoBlock {
  width: 500px;
  height: 100px;
  background-color: lightgrey;
  padding: 20px;
  overflow: hidden;
  margin-bottom: 10px;
  border-radius: 7px;
}

.infoBlock img {
    margin-right: 15px;
    float: left;
    border-radius: 0%
}

.infoBlock h5,
.infoBlock p{
    margin-left: 15px;
    display: block;
    margin: 2px 0 0 0;
}

h3{
  font-family: Avenir;
  font-size: 35px;
}

h5 {
  font-family: Avenir;
}
