.navigation {
  ul {
    float:right;
    padding-right: 25px;
    list-style: none;
  }

  li { display: inline-block; }

  a {
    padding: 25px 25px;
    font-size: 20px;
    text-decoration: none;
    color: black;
  }
  a:hover {
    color: #398eb2;
  }

}
