div .link {
  text-decoration: none;
}

.blockTitle {
  font-size: 15px;
}
.sponsorBlock {
  background-color: lightgrey;
  width: 600px;
  height: 100px;
  border-radius: 7px;
  padding-left: 5px;
}

.sponsorBlock:hover {
  background-color:#DD929D;
}
.contactInfo {
  font-size: 12px;
  line-height: 0.2em;
  margin: 0px 15px 15px 15px;
}

.sponsorBlock img {
    margin: 12px;
    float: left;
    border-radius: 50%;
    width: 75px;
    height: 75px;
}

.subjectImage img{
  border-radius: 50%;
}

.title {
  font-family: 'Pacifico', cursive;
  font-size: 35px;
}
