div .link {
  text-decoration: none;
}

.blockTitle {
  font-size: 15px;
}
.sponsorBlock {
  background-color: #e9e9e9;
  width: 500px;
  height: 100px;
  border-radius: 7px;
  padding-left: 5px;
}

.sponsorBlock:hover {
  background-color: lightgray;
}
.contactInfo {
  font-size: 12px;
  line-height: 0.2em;
  margin: 0px 15px 15px 15px;
}

.sponsorBlock img {
    margin: 12px;
    float: left;
    border-radius: 50%;
    width: 75px;
    height: 75px;
}

.subjectImage img{
  border-radius: 50%;
}

.billImage {
  border-radius: 0;
}

div .link {
  text-decoration: none;
}

h4 {
  font-family: 'Avenir';
  font-weight: bold;
}

.title {
  font-family: 'Avenir';
  font-weight: bold;
  font-size: 35px;
}

.subtitle {
  font-family: 'Avenir';
  font-size: 20px;
  line-height: 12px;
  margin-top: 7px;
}
