.main {
  margin: 30px 100px 100px 100px;

}

.background {
  background-color: white;
  padding: 50px;
}

.infoAndPicture {
  display: inline-flex;
}

.billInfo {
  margin-left: 50px;
}

.sponsorBlock {
  background-color: lightgrey;
  width: 600px;
  height: 100px;
  border-radius: 7px;
}

.sponsor{
  padding-top: 2px;
}

.contactInfo {
  font-size: 12px;
  line-height: 0.2em;
  margin: 0px 15px 15px 15px;
}

.sponsorBlock img {
    margin: 12px;
    float: left;
    border-radius: 50%;
    width: 75px;
    height: 75px;
}

.billImage {
  border-radius: 0;
}

div .link {
  text-decoration: none;
}

h4 {
  font-family: Avenir;
  font-weight: bold;
}

.title {
  font-family: Avenir;
  font-weight: bold;
  font-size: 35px;
}

.subtitle {
  font-family: Avenir;
  font-size: 20px;
  line-height: 12px;
  margin-top: 7px;

}
