// row 1-- img and
.subjectImage img{
  border-radius: 50%;
}

.rows {
  margin-top: 20px;
  margin-bottom: 20px;

}
.header {
  font-family: 'Acme', sans-serif;
  font-size: 40px;
  color: #398eb2;
}

.subheader {
  font-family: 'Signika Negative', sans-serif;
  font-size: 20px;
  color: 	#7789AA;
}

.img {
  height: 150px;
}
