// row 1-- img and
.subjectImage img{
  border-radius: 50%;
}

.rows {
  margin-top: 20px;
  margin-bottom: 20px;

}
.header {
  font-family: 'Avenir';
  font-size: 40px;
  color: black;
}

.subheader {
  font-family: 'Avenir';
  font-size: 20px;
  color: 	#7789AA;
}

.img {
  height: 150px;
}
