// h1 {
//   font-family: 'Signika Negative', sans-serif;
//   font-size: 50px;
// }
//
// h2 {
//   font-family: 'Signika Negative', sans-serif;
//   font-size: 75px;
// }

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
